* {
    margin: 0;
    padding: 0;
}

#sandbox-host {
    // text-align: center;
    vertical-align: middle;
}


input[type=text] {
    line-height: 2em;
    height: 100%;
    border-radius: 25px;
    outline: none;
    padding-left: 10px;
}

input[type=text]::placeholder {
    color: lightgray;
}

button {
    border: none;
    // margin-left: 20px;
    // width: 80px;
    // height: 40px;
    // border-radius: 20px;
    // color: white;
}



